{% extends 'layouts/base.html' %}

{% block title %}PENDAFTARAN KLAIM{% endblock  %}

{% block content %}
    <h2>Daftar Klaim</h2>

    <form method="POST" id="klaimForm" data-klaim-url="{% url 'ajax_load_sebab' %}" novalidate>
        {% csrf_token %}
        <table class="table">
            {{form.as_table}}
        </table>
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
        <a href="{% url 'klaim_changelist' %}">Nothing</a>
    </form>
{% endblock  %}

{% block javascripts %}

<script>
$("#id_tipe_klaim").change(function() {
    var url = $("#klaimForm").attr("data-klaim-url");
    var klaimId = $(this).val();

    $.ajax({
        url:url,
        data: {
            'klaim_id':klaimId
        }
        success: function(data) {
            console.log(data)
            $("#id_sebab_klaim").html(data);
        }
    });
});
</script>
{% endblock  %}