{% extends 'layouts/base.html' %}

{% block title %}PENDAFTARAN KLAIM{% endblock  %}

{% block stylesheets %}
<link href="/static/assets/css/custom-style.css" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}

<div class="container">
    <h2 class="alert alert-primary text-center mt-3"> FORM PENDAFTARAN KLAIM </h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col col-md-2">
                <div class="form-group">
                    <label for="id_tipe_klaim" class="font-weight-bold">Tipe Klaim</label>
                    {{form.tipe_klaim}}
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="id_sebab_klaim" class="font-weight-bold">Sebab Klaim</label>
                    {{form.sebab_klaim}}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}


