{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Detail TK {{datas.0.data_tk.nama}}{% endblock  %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col col-3">
            <div class="card">
                <div style="text-align:center">
                {% if datas.0.propic %}
                    <img src="{{datas.0.propic.url}}" class="card-img-top rounded-circle d-inline-flex p-2" style="width:150px;height:150px">
                {% else %}
                    <img src="/static/assets/img/avatars/1.jpg" class="card-img-top rounded-circle d-inline-flex p-2" style="width:150px;height:150px">
                {% endif %}
                <div class="card-body">
                    <div class="card-text">
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <table class="table">
                    <tbody>
                        {% for data in datas %}
                        <tr>
                            <td>Nama</td>
                            <td>{{data.nama}}</td>
                        </tr>
                        <tr>
                            <td>NIK</td>
                            <td>{{data.nik}}</td>
                        </tr>
                        <tr>
                            <td>Tempat / Tgl. Lahir</td>
                            <td>{{data.tempat_lahir}} / {{data.tgl_lahir}}</td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>{{data.alamat}}</td>
                        </tr>
                        <tr>
                            <td>Nama Gadis Ibu Kandung</td>
                            <td>{{data.nama_ibu}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td id="id_status">{{data.get_status_display}}</td>
                        </tr>
                        <tr id="id_keluarga">
                            <td>Nama Pasangan</td>
                            <td>{{data.nama_pasangan}}</td>
                        </tr>
                        <tr id="id_keluarga">
                            <td>Tgl. Lahir</td>
                            <td>{{data.tgl_lahir_pasangan}}</td>
                        </tr>
                        <tr id="id_keluarga">
                            <td>Nama Anak I.</td>
                            <td>{{data.nama_anak_s}}</td>
                        </tr>
                        <tr id="id_keluarga">
                            <td>Tgl. Lahir</td>
                            <td>{{data.tgl_lahir_s}}</td>
                        </tr>
                        <tr id="id_keluarga">
                            <td>Nama Anak II.</td>
                            <td>{{data.nama_anak_d}}</td>
                        </tr>
                        <tr id="id_keluarga">
                            <td>Tgl. Lahir</td>
                            <td>{{data.tgl_lahir_d}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="row">
        
</div>
{% endblock  %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $("td").text(function(i, val) {
        return val.toUpperCase();
    })
    var status = $("#id_status").text()
    if(status == 'BELUM MENIKAH') {
        console.log('A')
        $("tr#id_keluarga").hide();
    }else{
        console.log('B')
        $("tr#id_keluarga").show();
    }
})
</script>
{% endblock  %}