{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Detail TK {{datas.0.data_tk.nama}}{% endblock  %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col col-3">
            <div class="card">
                <div style="text-align:center">
                {% if datas.0.propic %}
                    <img src="{{datas.0.propic.url}}" class="card-img-top rounded-circle d-inline-flex p-2" style="width:150px;height:150px">
                {% else %}
                    <img src="/static/assets/img/avatars/1.jpg" class="card-img-top rounded-circle d-inline-flex p-2" style="width:150px;height:150px">
                {% endif %}
                <div class="card-body">
                    <div class="card-text">
                        <p><span class="helper-text"><i class="fa fa-envelope"></i> {{datas.0.email}}</span></p>
                        <p><span class="helper-text"><i class="fa fa-mobile"></i> {{datas.0.no_hp}}</span></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <table class="table table-bordered">
                    <tbody>
                        {% for data in datas %}
                        <tr>
                            <td>Nama</td>
                            <td>{{data.nama}}</td>
                        </tr>
                        <tr>
                            <td>NIK</td>
                            <td>{{data.nik}}</td>
                        </tr>
                        <tr>
                            <td>Tempat / Tgl. Lahir</td>
                            <td>{{data.tempat_lahir}} / {{data.tgl_lahir}}</td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>{{data.alamat}}</td>
                        </tr>
                        <tr>
                            <td>Nama Gadis Ibu Kandung</td>
                            <td>{{data.nama_ibu}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td id="id_status">{{data.get_status_display}}</td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <h5 class="card-title">Data Keluarga</h5>
                <div class="card-text table-responsive-sm">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nama Pasangan</th>
                            <th>Tgl. Lahir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{datas.0.nama_pasangan}}</td>
                            <td>{{datas.0.tgl_lahir_pasangan}}</td>
                        </tr>
                        <tr>
                            <td>{{datas.0.nama_anak_s}}</td>
                            <td>{{datas.0.tgl_lahir_s}}</td>
                        </tr>
                        <tr>
                            <td>{{datas.0.nama_anak_d}}</td>
                            <td>{{datas.0.tgl_lahir_d}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="table-responsive-sm card-text text-center">
                    <table class="table table-bordered">
                    {% for d in data_kpj %}
                        <tr>
                            <td>{{d.no_kpj}}</td>
                            <td>{{d.tgl_keps}}</td>
                            {% if d.tgl_na is None %}
                            <td> - </td>
                            {% else %}
                            <td>{{d.tgl_na}}</td>
                            {% endif %}
                            {% if d.is_aktif %}
                            <td>Y</td>
                            {% else %}
                            <td>T</td>
                            {% endif %}
                            <td><a href="{% url 'tambah-klaim-pk' pk=d.pk %}">Klaim</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $("td").text(function(i, val) {
        return val.toUpperCase();
    })
    var status = $("#id_status").text()
    if(status == 'BELUM MENIKAH') {
        console.log('A')
        $("tr#id_keluarga").hide();
    }else{
        console.log('B')
        $("tr#id_keluarga").show();
    }
})
</script>
{% endblock  %}