{% extends 'layouts/base.html' %}

{% block title %}Daftar Pengajuan Klaim JKM{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<main class="c-main">
  <div class="container-fluid">
    <div class="fade-in">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <i class="fa fa-align-justify"></i>HRD Klaim
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped table-sm" style="font-size: 12px;"
              id="tableKlaim">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nama TK</th>
                  <th>Jenis Klaim</th>
                  <th>Keterangan</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for data in datas %}
                <tr data-child-value="{{data.id}}">
                  <td>{{forloop.counter}}</td>
                  <td>
                    <a href="#" data-toggle="tooltip" title="Kelengkapan Berkas">{{data.klaim}}</a>
                  </td>
                  <td></td>
                  <td>
                    <table>
                    <tr>
                      {% if data.klaim.parklaring %}
                      <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                          </svg> Paklaring
                      </td>
                      {% else %}
                      <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                          </svg> Paklaring Belum di Upload
                      </td>
                      {% endif %}
                    </tr>
                    <tr>
                      {% if  data.klaim.no_rek_tk %}
                      <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                          </svg> No. Rekening TK
                      </td>
                      {% else %}
                      <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                          </svg> No. Rekening TK Belum Terupload
                      </td>
                      {% endif %}
                    </tr>
                    </table>
                  </td>
                  <td>
                    <a href="{% url 'sent-mail' data.id %}" type="button" class="btn btn-sm btn-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                      </svg>
                       Kirim
                    </a>
                  </td>
  
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>



{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
  $("#formApprove").on('submit', function() {

    $.ajax({
      method:'POST',
      url:"{% url 'ajax-approval' %}",
      data:{
        id:$("#klaim_id").val(),
        status:$("#status").val(),
        keterangan:$("#keterangan").val(),
        csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
      },
      dataType:"json",
      success:function(res){
        console.log(res['success'])
      },
      error:function(err){
        console.log(err)
      }
    });
  });
});
</script>

{% endblock %}