{% extends 'layouts/base.html' %}
{% load static %}

{% block tilte %}LIST DATA TK{% endblock  %}

{% block stylesheets %}


{% endblock  %}

{% block breadcrumb %}

{% endblock  %}
{% block content %}

{% for message in messages  %}
  <div class="alert alert-warning" role="alert" id="warning-alert">
    {{message}}
  </div>
{% endfor %}

  <main class="c-main">
    <div class="container-fluid">
      <div class="fade-in">
        <div class="row">
          <div class="col-lg-xl">
            <div class="card">
              <div class="card-header"><i class="fa fa-align-justify"></i> Daftar Klaim</div>
              <div class="card-body">
              
  
  <table id="example" class="table table-responsive table-bordered table-striped table-sm">
      <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col">Nama</th>
          <th scope="col">KPJ</th>
          <th scope="col">Tempat/</br>Tgl.Lahir</th>
          <th scope="col">NIK</th>
          <th scope="col">Alamat</th>
          <th scope="col">Nama Ibu Kandung</th>
          <th scope="col">Status </br>Pernikahan</th>
          <th scope="col">No Rekening</th>
          <th scope="col">Kartu Keluarga</th>
          <th scope="col">KTP</th>
          <th scope="col">Buku Nikah</th>
          <th scope="col">Dokumen Lain</th>
          <th scope="col">Status</th>
          </tr>
    </thead>
    <tbody>
    {% for data in datas  %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="{% url 'detil-tk' pk=data.pk %}">{{data.nama}}</a></td>
          {% if data.data_kpj %}
            <td id="id_kpj">{{data.data_kpj}}</td>
          {% else %}
            <td><a href="{% url 'tambah-kpj' pk=data.pk%}" id="id_kpj">Add KPJ</a></td>
          {% endif %}
          <td>{{data.tempat_lahir}}</br>{{data.tgl_lahir}}</td>
          <td>{{data.nik}}</td>
          <td>{{data.alamat}}</td>
          <td>{{data.nama_ibu}}</td>
          <td>{{data.get_status_display}}</td>
          <td>{{data.no_rekening}}</td>
          <td><a href="{{ data.file_kk.url }}" class="badge bg-info text-dark" rel="noopener noreferrer">Download</a></td>
          <td><a href="{{ data.file_ktp.url }}" class="badge bg-info text-dark" rel="noopener noreferrer">Download</a></td>
          <td><a href="{{ data.file_paklaring.url }}" class="badge bg-info text-dark" rel="noopener noreferrer">Download</a></td>
          {% if data.file_lain %}
            <td><a href="{{ data.file_lain.url }}" class="badge bg-info text-dark" rel="noopener noreferrer">Download</a></td>
          {% else %}
            <td>Belum Upload</td>
          {% endif %}
         
          <td><a href="{% url 'tambah-kpj' pk=data.pk%}" id="id_add-kpj"><input type="button" class="btn btn-sm btn-success" name="" id="id_add-kpj" value="Add KPJ"></a>
            <a href="{% url 'sent-mail' data.pk %}" type="button" class="btn btn-sm btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                </svg>
                  Kirim
              </a>
          </td>
      </tr>
    
    {% endfor %}
    
    </tbody>
  </table>


</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="form-group">
           
            <input class="form-control" id="size" type="hidden" value={{size}} >
        </div>
{% endblock  %}

{% block javascripts %}
<script>
$(document).ready(function() {
    
   var t = $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend:'pdfHtml5',
                orientation: 'landscape',
                pageSize:'LEGAL'
            },
            {
                extend: 'excelHtml5',
                customize: function ( xlsx ){
                var size = document.getElementById('size').value
                console.log(size)
                
                var sheet = xlsx.xl.worksheets['sheet1.xml']
                for(i = 2;i<=size+2;i++){
                    
                // jQuery selector to add a border
                    $(`row c[r*="${i}"]`, sheet).attr( 's', '25' );
                }
            }
            }
        ],
        
        columnDefs: [ {
            "defaultContent": "-",
            sortable: false,
            "class": "number",
            
            targets: 0
        } ],
        order: [[ 8, 'asc' ]],
        fixedColumns:true
    } );
        
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
} );
</script>
<script>
$("#warning-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#warning-alert").slideUp(500);
});
</script>

<script>
$(document).ready(function() {
  var nik = $("td#id_kpj").text()
  var anik = $("a#id_kpj").text()
  
  if (anik === 'Add KPJ') {
    $("a#id_add-kpj").remove();
    var html = "<input type='button' class='btn btn-sm btn-success' value='Add KPJ' disabled>"
    $("td:last").append(html)
  }
  else{
    $("a#id_add-kpj").removeAttr("disabled")
    $("input#id_add-kpj").removeAttr("disabled")
  }
})
</script>


{% endblock javascripts %}