{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}INPUT KPJ{% endblock  %}

{% block stylesheets %}{% endblock  %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-6 mt-3">
            <div class="card">
                <div class="card-header">INPUT KPJ</div>
                <div class="card-body">
                    <form method="POST" id="id_formtk">
                    {% csrf_token %}
                    <div id="form_set">
            

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_NIK">NIK</label>
                                <input type="text" class="form-control" name="" id="id_NIK" value="{{pk.nik}} - {{pk.nama}}" disabled>
                            
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_no_kpj">No. KPJ</label>
                                {{form.no_kpj}}
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_tgl_keps">Blth Keps.</label>
                                {{form.tgl_keps}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_tgl_na">Blth NA.</label>
                                {{form.tgl_na}}
                            </div>
                        </div>
                    
                    </div>
                        <div class="form-group">
                            
                            <button type="submit" name="submit" class="btn btn-primary float-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block javascripts %}
<script>
//    $('#add_more').click(function() {
  //      var form_idx = $('#id_kpj_set-TOTAL_FORMS').val();
    //    console.log(form_idx)
      //  $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        //$('#id_kpj_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    //});
</script>
{% endblock  %}