{% extends 'layouts/base.html' %}

{% block title %}PENDAFTARAN KLAIM{% endblock  %}

{% block stylesheets %}

{% endblock stylesheets %}


{% block content %}

<div class="container">
    <div class="card mt-2">
        <h5 class="card-header">FORM INPUT KLAIM</h5>
        <div class="card-body">
            <form method="POST" id="klaimForm" data-klaim-url="{% url 'ajax_load_sebab' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col col-4">
                        <label for="id_kpj">NO KPJ</label>
                        <input type="text" class="form-control" id="id_kpj" maxlength="11" name="kpj"><span><input type="button" id="clear" class="btn btn-sm btn-secondary float-right mt-2" value="Hapus"></span>
                    </div>
                    <div class="col">
                        <label for="id_nama">NIK</label>
                        <input type="text" class="form-control" id="id_nik" disabled>
                    </div>
                    <div class="col">
                        <label for="id_nama">Nama</label>
                        <input type="text" class="form-control" id="id_nama" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <div class="form-group">
                            <label for="id_tipe_klaim" class="font-weight-bold">Tipe Klaim</label>
                            {{form.tipe_klaim}}
                            {{form.tipe_klaim.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_sebab_klaim" class="font-weight-bold">Sebab Klaim</label>
                            {{form.sebab_klaim}}
                            {{form.sebab_klaim.errors}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="id_paklaring">Paklaring</label>
                            {{form.parklaring}}
                            {{form.parklaring.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_surat_meninggal">Surat Meninggal Dunia</label>
                            {{form.surat_meinggal}}
                            {{form.surat_meinggal.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_ktp_ahli_waris">KTP Ahli Waris</label>
                            {{form.ktp_ahli_waris}}
                            {{form.ktp_ahli_waris.errors}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="id_kk_baru">KK Baru</label>
                            {{form.kk_baru}}
                            {{form.kk_baru.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_no_rek_waris">No. Rekening Ahli Waris</label>
                            {{form.no_rek_waris}}
                            {{form.no_rek_waris.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_form_I">Form JKK Tahap I</label>
                            {{form.form_I}}
                            {{form.form_I.errors}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="id_kronologis">Kronologis</label>
                            {{form.kronologis}}
                            {{form.kronologis.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_ktp_saksi">KTP Saksi</label>
                            {{form.ktp_saksi}}
                            {{form.ktp_saksi.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_absen_1">Daftar Absen I</label>
                            {{form.absen_1}}
                            {{form.absen_1.errors}}
                        </div>
                    </div>
                </div>
                <div class="row">    
                    <div class="col">
                        <div class="form-group">
                            <label for="id_surat_pernyataan">Surat Pernyataan</label>
                            {{form.surat_pernyataan}}
                            {{form.surat_pernyataan.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_form_II">Form JKK Tahap II</label>
                            {{form.form_II}}
                            {{form.form_II.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_absensi_2">Daftar Absen II</label>
                            {{form.absensi_2}}
                            {{form.absensi_2.errors}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="id_no_rek_perusahaan">No. Rekening Perusahaan</label>
                            {{form.no_rek_perusahaan}}
                            {{form.no_rek_perusahaan.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_no_rek_tk">No. Rekening Tenaga Kerja</label>
                            {{form.no_rek_tk}}
                            {{form.no_rek_tk.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_slip_gaji">Slip Gaji</label>
                            {{form.slip_gaji}}
                            {{form.slip_gaji.errors}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary float-right" value="SIMPAN" id="id_simpan">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}

<script>
$("#id_tipe_klaim").change(function() {
    var url = $("#klaimForm").attr("data-klaim-url");
    var klaimId = $(this).val();

    $.ajax({
        url:url,
        data: {
            'klaim_id':klaimId
        },
        success: function(data) {
            
            $("#id_sebab_klaim").html(data);
        },
        errors: function(err){
            console.log(err)
        }
    });
});
</script>

<script src="/static/assets/js/query.js"></script>
<script src="/static/assets/js/klaimAjax.js"></script>
{% endblock  %}