{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}{% endblock  %}

{% block stylesheets %}{% endblock  %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">Pendaftaran TK</div>
                <div class="card-body">
                    <form method="POST" id="id_formtk" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_nama">Nama</label>
                                {{form.nama}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_nik">NIK</label>
                                {{form.nik}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_tempatlhr">Tempat Lahir</label>
                                {{form.tempat_lahir}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_tgllhr">Tanggal Lahir</label>
                                {{form.tgl_lahir}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_alamat">Alamat Lengkap</label>
                            {{form.alamat}}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_ibu">Nama Ibu Kandung</label>
                                {{form.nama_ibu}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_status">Status</label>
                                {{form.status}}
                            </div>
                        </div>
                        <div class="form-group keluarga">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_namapasangan">Nama Pasangan</label>
                                {{form.nama_pasangan}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_tgllhrpasangan">Tgl. Lahir</label>
                                {{form.tgl_lahir_pasangan}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_anak1">Nama Anak I.</label>
                                {{form.nama_anak_s}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_tgllhr1">Tgl. Lahir</label>
                                {{form.tgl_lahir_s}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_anak2">Nama Anak II.</label>
                                {{form.nama_anak_d}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_tgllhr2">Tgl. Lahir</label>
                                {{form.tgl_lahir_d}}
                            </div>
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_email">Email</label>
                                {{form.email}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_nohp">No. Handphone</label>
                                {{form.no_hp}}
                                {{form.no_hp.errors}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_norek">No. Rekening</label>
                                {{form.no_rekening}}
                                
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_namarek">Nama Pemilik Rekening</label>
                                {{form.nama_rekening}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_ktp">Foto KTP</label>
                                {{form.file_ktp}}
                                {{form.file_ktp.errors}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_kk">Foto KK</label>
                                {{form.file_kk}}
                                {{form.file_kk.errors}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_paklaring">Paklaring</label>
                                {{form.file_paklaring}}
                                {{form.file_paklaring.errors}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_propic">Photo</label>
                                {{form.propic}}
                                {{form.propic.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary float-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $(".keluarga").hide();
    
    $("#id_status").change(function() {
        showhide();
    });

    var regNik = RegExp('^\\d+$')
    $(".angka").keyup(function() {
        var NIK = this.value;
        
        if (!regNik.test(NIK)) {
            $(this).val("")
            console.log("WAJIB ANGKA")
        }
    })

    $(function() {
        $('.besar').focusout(function(){
            this.value = this.value.toLocaleUpperCase()
        })
        
        $('.email').focusout(function() {
            this.value = this.value.toLocaleLowerCase()
        })
    })
});


function showhide(){
    if($('select[name="status"]').val() == 'MENIKAH'){
        console.log('1')
        $('.keluarga').show();
    }
    else{
        $('.keluarga').hide();
        console.log('2')
    }
}

</script>
{% endblock  %}